<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only | <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1><a href="/">Members Only</a></h1>
        <div class="profile">
            <img src="/images/profile-circle-filled.svg" alt="<%=user.name %>" title="<%=user.name %>"
                class="profile-image">
            <div class="profile-text">
                <h3>
                    <%= user.name %>
                </h3>
                <p>Member</p>
            </div>
            <a href="/members-only/log-out">
                <img src="/images/log-out.svg" alt="log out" title="Log Out" class="profile-log-out">
            </a>
        </div>
    </header>
    <main>
        <form action="" method="POST">
            <h2>
                <%= title %>
            </h2>
            <p>Solve a riddle to become admin!</p>
            <p>What begins with an "e" and only contains one letter?</p>
            <div class="form-item">
                <label for="answer">Answer:</label>
                <input type="text" id="answer" name="answer" required>
            </div>
            <% if (locals.message) {%>
                <p>
                    <%= locals.message %>
                </p>
                <% } %>
                    <div class="buttons">
                        <button onclick="location.href='/members-only'" type="button" class="button">Return to Home
                            Page</button>
                        <button type="submit" class="submit">Submit</button>
                    </div>
        </form>
    </main>
    <footer>
        <p>Made by <a href="https://github.com/christina172?tab=repositories">christina172</a></p>
    </footer>
</body>

</html>