<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only | <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1><a href="/members-only" title="Home">Members Only</a></h1>
        <div class="profile">
            <img src="/images/profile-circle-filled.svg" alt="<%=user.name %>" title="<%=user.name %>"
                class="profile-image">
            <div class="profile-text">
                <h3>
                    <%= user.name %>
                </h3>
                <% if (user.membership_status=="Member" ) { %>
                    <p>
                        <% if (user.is_admin) { %>
                            Admin
                            <% } else { %>
                                Member
                                <% } %>
                    </p>
                    <% } %>
            </div>
            <a href="/members-only/log-out">
                <img src="/images/log-out.svg" alt="log out" title="Log Out" class="profile-log-out">
            </a>
        </div>
    </header>
    <main>
        <form action="" method="POST">
            <h2>
                <%= title %>
            </h2>
            <div class="form-item">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required maxlength="100" value=<%=locals.message ?
                    message.title : '' %>>
            </div>
            <div class="form-item">
                <label for="text">Message:</label>
                <textarea type="textarea" id="text" name="text" required maxlength="1000" rows="6"
                    value=<%=locals.message ? message.text : '' %>></textarea>
            </div>
            <% if (locals.errors) {%>
                <ul>
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
                    <div class="buttons">
                        <button onclick="location.href='/members-only'" type="button" class="button">Return to Home
                            Page</button>
                        <button type="submit" class="submit">Submit</button>
                    </div>
        </form>
    </main>
    <footer>
        <p>Made by <a href="https://github.com/christina172?tab=repositories">christina172</a></p>
    </footer>
</body>

</html>